In [1]:
625//5

125

In [2]:
str=("laptoptop")
print(str[8:1:-1])

potpotp

In [3]:
print("team\'s")

team's

In [4]:
a=int(input("enter first"))
b=int(input("enter second"))
def sma():
    if a<b:
        print("b is greater : {}".format(b))
    elif b>c:
        print("")

enter first

ValueError: invalid literal for int() with base 10: ''

In [ ]:
n=int(input("please enter the lenth"))
fabi=[]
def fab(n):
    first=0
    for i in range(n):
        temp=first+i
        print(temp)
        fabi.append(temp)
        first=temp
    print(fabi)
    
fab(n)

In [ ]:
str1=input("enter string\n")
count=0
for i in str:
    if i==" ":
        count=count+1
print(count+1)

In [ ]:
l=[1,5,4,8,6,22,4,78,5,4,1,5,62,1,4]
count=0
for i in l:
    if i%2!=0:
        count=count+1
        
print("odd numbers are : "+count)

In [ ]:
string=input("enter string")
substring=input("enter substring")
count=0
if (string.count(substring)>0):
       for i in range(0,len(string)):
            if (substring[i]==string[i]):
                count=count+1

else:
    print("not found")
print(count)

In [ ]:
string=input("enter string")
substring=input("enter substring")
i=string.count(substring)
print(i)

In [ ]:
lst=[1,2,5,2,3,7,3,6,7,9,5,5]
s=set()
for i in range(0,len(lst)):
    for j in range(i+1,len(lst)):
        if (lst[i]==lst[j]):
            s.add(lst[i])
            
print(s)

In [ ]:
num=int(input("enter a number"))
fact=0
for i in range(1,num+1):
    if (num%i==0):
        fact=fact+1
if fact==2:
    print("prime number")
else:
    print("not prime")

In [ ]:
s1=input("s1")
s2=input("s1")
temp=[]

In [8]:
s1=input("s1\n")
s2=input("s2\n")
count=0
n=len(s1)
m=len(s2)
for i in s1:
    if s2 in s1[int(i),int(i)+m]:
        count=count+1
        i=i+m
else:
    print("not found")

s1
hello im sunil
s2
hello

ValueError: invalid literal for int() with base 10: 'h'

In [ ]:
class car:
    company="tata group"
    def __init__(self,model,color,price,year):
        #(" Car model is : "+self.model)
        self.model=model
        self.color=color
        self.__price=price
        self.year=year
        self.name="sunil"
    def price(self):
        print("car price is : "+str(self.__price))
        print(self.__price)
        return ""
    def details():
        print("car model",end="")
        print(self.model)
        
   
car1 = car("jagwar1","balck",1000000,2016)
car2 = car("jagwar2","balck",10054000,2019)
car3 = car("range rover","balck",10999900,2021)
print(car1.model)
print(car3.model)
print(car1.model)
print(car2.color)
print(car2.price())
print(car2.price)

In [ ]:

a=5
print(type(a))
b=str(a)
print(b)

In [ ]:
a="1"
print(int(a)+3)

In [19]:
#program for fabonacci series
nn=0
nn1=0
nn2=1
def fab(i):
    nn=0
    nn1=0
    nn2=1
    while i>0:
        nn=nn1+nn2
        print(","+str(nn),end="")
        nn1=nn2
        nn2=nn
        i=i-1
print(str(nn1)+","+str(nn2),end="")
fab(10)

0,1,1,2,3,5,8,13,21,34,55,89

In [26]:
def leap(year):
    if year%400==0 and year%100==0 and year%4==0:
        print("yeas leap year")
    else:
        print("no, not a  leap year")
leap(2000)

yeas leap year

In [33]:
 def rev(n):
        for i in range(3):
            res=0
            n1=n%10
            res=res*10+n1
            n=n//10
            return n
rev(258)

25

In [68]:
class car1:
    def __init__(self1,company="Great-TATA",name="default-Range Rover",model="default-dicovery"):
        self1.company=company
        self1.name=name
        self1.model=model
        def output(self1):
            print("{1} is the product of {0} with model name : {2}".format(self1.company,self1.name,self1.model))
        r
class car2:
    def __init__(self,driver="heavy driver"):
        self.driver=driver
class looking(car1):
    def __init__(self,color="default-Black",alloy="default-chorma"):
        self.color=color
        self.alloy=alloy
        company="mahindra"
        name="bolero"
        model="eco"
        
        car1.__init__(self,company,name,model)
    def look(self):
        print("color of car is : "+self.color)
        print("Alloy of the car is : "+self.alloy)
        print("company is : "+self.company)
class typeprice(looking):
    def __init__(me,cartype,price):
        me.cartype1=cartype
        me.price1=price
    def output(me):
        print(me.cartype1)
        print(me.price1)
        car1.__init__(me)
        print(me.company)
        looking.__init__(me,"black","chorma")
        looking.look(me)
class allinone(looking,car2):
    def __init__(me):
        print("all specification will be shown here")
        car2.__init__(me)
        looking.__init__(me)
        print("type of alloy :"+me.alloy)
        print("type of driving : "+me.driver)
        print("name of the company : "+me.company)
        
        
car11=car1("TaTa Group","range rover","model1")
car12=car1("anand mahindra","bolero","maxi")
look1=looking("black","bulid-in")
car13=car1()
look1.look()
allinone1=allinone()
tp1=typeprice("suv",5000000)

color of car is : black
Alloy of the car is : bulid-in
company is : mahindra
all specification will be shown here
type of alloy :default-chorma
type of driving : heavy driver
name of the company : mahindra

In [ ]:
,company,name,model
,"anand mahindra","bolero","maxi"